<center>
<nav style="list-style: none; margin: auto; width: 100%; justify-content: center;" id="sidebar-icon-links">


  {% if site.github.repo %}
    <a id="github-link"
       class="icon" title="Github Project" aria-label="Github Project"
       href="{{ site.github.repo }}" >
      {% include svg/github.svg %}
    </a>
    <!-- <a id="github-download-link"
       class="icon" title="Download" aria-label="Download"
       href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">
      {% include svg/download.svg %}
    </a> -->
  {% endif %}

  {% if site.linkedin %}
   <a id="linkedin-link"
      class="icon" title="linkedin" aria-label="Linkedin"
      href="{{ site.linkedin }}">
     {% include svg/linkedin.svg %}
   </a>
 {% endif %}

  {% if site.twitter %}
    <a id="twitter-link"
       class="icon" title="Twitter" aria-label="Twitter"
       href="{{ site.twitter }}">
      {% include svg/twitter.svg %}
    </a>
  {% endif %}

  {% if site.facebook %}
    <a id="facebook-link"
       class="icon" title="facebook" aria-label="Facebook"
       href="{{ site.facebook }}">
      {% include svg/facebook.svg %}
    </a>
  {% endif %}

  {% if site.scholar %}
    <a id="scholar-link"
       class="icon" title="scholar" aria-label="Google Scholar"
       href="{{ site.scholar }}">
      {% include svg/scholar.svg %}
    </a>
  {% endif %}


  {% include custom-icon-links.html %}
</nav>
 </center>
